@page "/"
@using Bank.Components.Models
@inject BankStateService BankStateService

<PageTitle>Home</PageTitle>

<h3>Customers List</h3>
<ul>
    @if (Customers != null)
    {
        @foreach (var customer in Customers)
        {
            <li>@customer.FullName</li>
        }
    }
</ul>
<a href="/create-customer" class="btn btn-primary">Create New Customer</a>

<h3 style="margin-top: 10px">Accounts List</h3>
<ul>
    @if (Accounts != null)
    {
        @foreach (var account in Accounts)
        {
            <li>@account.Number, @account.Balance, @account.Owner.FirstName @account.Owner.LastName</li>
        }
    }
</ul>
<a href="/create-account" class="btn btn-primary">Create New Account</a>

@code {
    private List<Person> Customers;
    private List<BankAccount> Accounts;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Initializing...");
        try
        {
            var state = await BankStateService.LoadStateAsync();
            Customers = state.Customers;
            Accounts = state.Accounts;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}